<!DOCTYPE html>
<html ng-app="dataApp">
<head>
    <title>Clock!</title>
    <script src="angular.js"></script>
    <script src="bootstrap.js"></script>

    <script src="parentCtrl.js"></script>
    <script src="Mobile.js"></script>
</head>
<body >
    <div ng-controller="parentCtrl">
        {{editable}}

        <table border="1">
            <tr style="background:lightyellow ; padding: 10px">
                <th>#</th>
                <th><a href ng-click="sortData('model')">MODEL</a> 
                <th><a href ng-click="sortData('color')">COLOR</a>
                <th><a href ng-click="sortData('price')">PRICE</a>
                <th>Delete</th>
                <th ng-show="editable">Edit</th>
                <th ng-hide="editable">Save</th>
            </tr>
            <tr ng-repeat="m in devices">
                <td>{{$index}} </td>
                <td>{{m.model}}</td>
                <td>{{m.color}}</td>
                <td>{{m.price}}</td>
                <td><button ng-click = "removeDevice($index)">X</button></td>
                <td ng-show="editable"><button ng-click = "editDevice($index)">Edit</button></td>
                <td ng-hide="editable"><button ng-click = "saveDevice($index)">Save</button></td>
            </tr>
        </table>

        <div>
            <p >MODEL = <input  ng-model="model"type="text"/></p>
            <p > COLOR = <input  ng-model="color" type="text"/></p>
            <p  >PRICE = <input ng-model="price" type="text"/></p>
        </div>
        <button ng-click="addDevice()">Add Device</button>
        <p>ID = <input ng-model="index" type="text"/></p>
        <button ng-click="removeDevice(index)" >Remove Device</button>
    </div>
    <br>
</body>
</html>