<!DOCTYPE html>
<html ng-app="myTimerApp">
<head>
    <script src="angular.js"></script>
    <script src="bootstrap.js"></script>

    <script src="./reverseString.js"></script>
    <script src="./timectrl.js"></script>
</head>
<body >

    <div ng-controller="timeCtrl">
            <h1>Current time</h1>
            <h1>{{time}}</h1>
            <button ng-click="increaseTime()">Click to show current time</button>
    </div>
    <br>
    <div ng-controller="reverseString">
            <h1>My name</h1>
            <h1>{{name}}</h1>
            <button ng-click="reverseString()">Click to reverse the string</button>
    </div>
</body>
</html>